.side-bar 
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#" , class:"side-icon"do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) , class:"side-icon"do
          %i.fa.fa-cog
  .side-bar__group-list
    .group-room
      .group-room__name
        techcamp
      .group-room__notice
        まだメッセージがありません
    .group-room
      .group-room__name
        techcamp
      .group-room__notice
        まだメッセージがありません
    .group-room
      .group-room__name
        techcamp
      .group-room__notice
        まだメッセージがありません