.chat-main {
  float: left;
  width: calc(100vw - 300px);

  &__group-info {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
  }

  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
  }
}

.info-left {
  margin-left: 40px;

  &__main {
    color: #333333;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
  }

  &__sub {
    color: #999999;
    font-size: 12px;
  }
}

.edit-btn {
  text-decoration: none;
  width: 72px;
}

.info-right__edit {
  height: 40px;
  margin-top: 28px;
  margin-right: 40px;
  padding: 0 20px;
  border: solid 1px #38aef0;
  line-height: 40px;
  font-size: 16px;
  color: #38aef0;
}

.message-list__name {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin: 46px 0px 12px 40px;

    a {
      color: #999999;
      font-size: 12px;
    }
}

.message-list__text {
  color: #434a54;
  margin-left: 40px;
}

.chat-main__message-form {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.message-form__type {
  width: 100%;
  display: flex;
  position: relative;
}

.type-left {
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 0 40px 0 15px;
  color: #434a54;
  font-size: 16px;
  border: none;
}

.type-right {
  position: absolute;
  top: 10px;
  right: 10px;

  &__file {
    display: none;
  }
}

.message-form__send {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  background-color: #38aef0;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  border-style: none;
}